<div class="mx-4 p-6 bg-white rounded-lg shadow-md dark:bg-gray-800 mt-24">
    <h2 class="text-4xl font-bold dark:text-white mb-2">KRW {{ total_sales }}</h2>
    <span class="text-md font-normal text-gray-500 lg:text-lg dark:text-gray-400">Total Sales</span>
    <div class="h-96">
       <canvas id="myChart" class="mt-8"></canvas>
    </div>
 </div>
 <div class="mx-4 p-6 bg-white rounded-lg dark:bg-gray-800 mt-12">
    <h3 class="text-2xl font-bold dark:text-white mb-2">Transactions</h3>
    <span class="text-md font-normal text-gray-500 lg:text-lg dark:text-gray-400">This is a list of latest transactions</span>
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-8">
       <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
           <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
               <tr>
                    <th scope="col" class="py-3 px-6">
                        Door name
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Serial Number
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Category
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Value
                    </th>
                    <th scope="col" class="py-3 px-6">
                    Transaction date
                </th>
               </tr>
           </thead>
           <tbody>
            {% for sale in sales %}
               <tr class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ sale["door_name"] }}
                    </th>
                    <td class="py-4 px-6">
                        {{ sale["serial_number"] }}
                    </td>
                    <td class="py-4 px-6">
                        {{ sale["category"] }}
                    </td>
                    <td class="py-4 px-6">
                        {{ sale["value"] }}
                    </td>
                    <td class="py-4 px-6">
                        {{ sale["transaction_date"] }}
                    </td>
               </tr>
            {% endfor %}
           </tbody>
       </table>
   </div>
 </div>
</div>
<script src="{{ url_for('static', filename='js/dashboardindex.js') }}"></script>
<script>
    loadChart();
</script>