{% extends "base.html" %}
{% block head %}
{{super()}}
{% endblock head %}

{% block body %}
{% include "header.html" %}
{% if status == "Success" %}
<div class="max-w-xl h-96 p-6 bg-white rounded-lg shadow-md dark:bg-gray-800 mt-24 mx-auto content-center grid grid-cols-1 border border-gray-200 dark:border-gray-700">
    <div class="place-self-center inline-flex flex-shrink-0 justify-center items-center w-32 h-32 text-green-500 bg-green-100 rounded-full dark:bg-green-800 dark:text-green-200">
        <svg aria-hidden="true" class="w-24 h-24" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Check icon</span>
    </div>
    <a href="#" class="place-self-center">
        <h5 class="mb-2 mt-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Payment Successful</h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 place-self-center">We will redirect you in a moment</p>
</div>
{% elif status == "Cancel" %}
<div class="max-w-xl h-96 p-6 bg-white rounded-lg shadow-md dark:bg-gray-800 mt-24 mx-auto content-center grid grid-cols-1 border border-gray-200 dark:border-gray-700">
    <div class="place-self-center inline-flex flex-shrink-0 justify-center items-center w-32 h-32 text-red-500 bg-red-100 rounded-full dark:bg-red-800 dark:text-red-200">
        <svg aria-hidden="true" class="w-24 h-24" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Error icon</span>
    </div>
    <a href="#" class="place-self-center">
        <h5 class="mb-2 mt-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Payment Canceled</h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 place-self-center">We will redirect you in a moment</p>
</div>
{% elif status == "Error" %}
<div class="max-w-xl h-96 p-6 bg-white rounded-lg shadow-md dark:bg-gray-800 mt-24 mx-auto content-center grid grid-cols-1 border border-gray-200 dark:border-gray-700">
    <div class="place-self-center inline-flex flex-shrink-0 justify-center items-center w-32 h-32 text-orange-500 bg-orange-100 rounded-full dark:bg-orange-700 dark:text-orange-200">
        <svg aria-hidden="true" class="w-24 h-24" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Warning icon</span>
    </div>
    <a href="#" class="place-self-center">
        <h5 class="mb-2 mt-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Payment Error</h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 place-self-center">We will redirect you in a moment</p>
</div>
{% endif %}
<script>
function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}
$(document).ready(async function(){
    await sleep(3000);
    window.location.href = "{{url_for('index')}}";
});

</script>
{% endblock body %}